@import './typography';
@import './variables';

@mixin button-styles($background, $color, $hover) {
    background-color: $background;
    color: $color;
    border-radius: 1.25rem;
    border: 1px solid transparent;
    outline: none;
    cursor: pointer;

    &:hover {
        background-color: $hover;
    }

    &:disabled {
        background-color: $disabled-color;
    }
}

@mixin flex-row($display, $content, $align) {
    display: $display;
    justify-content: $content;
    align-items: $align;
}

@mixin flex-column {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}