@import '../styles/typography';
@import '../styles/variables';

*,
::before,
::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: $font;
}

svg {
    cursor: pointer;
}

.error {
    color: $red;
    position: absolute;
    top: 23%;
    right: 10%;
}