$purple: #635FC7;
$purple-50: #A8A4FF;
$dark: #000112;
$dark-200: #20212C;
$dark-100: #2B2C37;
$dark-50: #3E3F4E;
$gray: #828FA3;
$gray-100: #E4EBFA;
$gray-50: #F4F7FD;
$white: #FFFFFF;
$red: #EA5555;
$red-50: #FF9898;