@use 'sass:math';

$purple: #635FC7;
$purple-50: #A8A4FF;
$black: #000112;
$very-dark-gray: #20212C;
$dark-gray: #2B2C37;
$dark-lines: #3E3F4E;
$medium-gray: #828FA3;
$light-lines: #E4EBFA;
$light-gray: #F4F7FD;
$white: #FFFFFF;
$red: #EA5555;
$red-50: #FF9898;
$disabled-color: #828FA3;

// convert px to rem
@function pxToRem($value) {
    @return math.div($value,16)+rem;
}