@use '../../../styles/theme';
@use '../../../styles/breakpoints';
@import '../../../styles/mixin';
@import '../../../styles/variables';
@import '../../../styles/typography';

.menu {
    position: relative;

    .dropdown-menu {
        @extend .body-l;
        position: absolute;
        background-color: var(--dropdown);
        width: pxToRem(192);
        height: pxToRem(94);
        padding: 1rem;
        border-radius: 8px;
        margin-top: 2rem;
        right: 0;
        box-shadow: 0 2px 6px 0 #364E7E;
        text-align: left;
        cursor: pointer;

    

        .edit {
            color: $medium-gray;
        }

        .delete {
            color: $red;
        }
    }
}